[Unit]
Description=Lock screen when going to sleep/suspend
Before=sleep.target
Before=suspend.target

[Service]
Type=forking
ExecStart=/usr/bin/swaylock
ExecStartPost=/usr/bin/sleep 1
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
