$error: #{"@error_color"};
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$error: red;
$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;
window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg-color;
    color: $fg-color;
    font-size: 1.1em;
    font-weight: bold;

    button {
        background-color: transparent;

        &:hover {
            background-color: transparentize($fg, 0.84);
            border-color: transparentize($accent, 0.8);
        }

        &:active {
            background-color: transparentize($fg, 0.8)
        }
    }

    label {
        transition: 200ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    .Workspaces .focused label {
        color: $accent;
    }
    .Workspace {
        padding: 0px 2px;
        &.visible {
            box-shadow: inset 0 -2px white;
        }
        &:hover {
            box-shadow: inset 0 -4px white;
        }
        &.urgent {
            background-color: red;
        }
    }
    .Client {
        padding: 0px 2px;
        &.urgent {
            background-color: red;
        }
        &.visible {
            box-shadow: inset 0 -2px white;
            &:hover {
                box-shadow: inset 0 -4px white;
            }
            &.focused {
                box-shadow: inset 0 -2px cyan;
                &:hover {
                    box-shadow: inset 0 -4px cyan;
                }
            }
        }
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    scale,
    slider {
        padding: 0;
    }
    .AudioSlider {

        trough {
            background-color: transparentize($fg, 0.8);
            border-radius: $radius;
            min-width: 10em;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
            max-width: 1em;
        }
    }
}
