[user]
	email = git+lehtien.david@gmail.com
	name = pynappo
[credential "helperselector"]
	selected = manager-core
[credential]
	helper = manager-core
[safe]
	directory = C:/Users/lehti/scoop/buckets/extras
	directory = C:/Users/lehti/scoop/buckets
	directory = C:/Users/lehti/scoop/buckets/nonportable
[core]
	symlinks = true
	fsmonitor = true
