[user]
	email = lehtien.david@gmail.com
	name = pynappo
[credential "helperselector"]
	selected = manager-core
[credential]
	helper = manager-core
[safe]
	directory = C:/Users/lehti/scoop/buckets/extras
	directory = C:/Users/lehti/scoop/buckets
	directory = C:/Users/lehti/scoop/buckets/nonportable
	directory = c:/Users/lehti/AppData/Local/nvim-data/site/pack/packer/start/nvim-treesitter
	directory = C:\\Users\\lehti\\AppData\\Local\\nvim-data\\site\\pack\\packer\\start\\nvim-treesitter\\
	directory = *
[core]
	symlinks = true
	fsmonitor = true
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
