/*
 *
 * Catppuccin Mocha palette
 * Maintainer: rubyowo
 *
 */

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #313244;

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

@define-color main-bg @crust;
@define-color main-fg @text;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@base, 0.8);
  color: @text;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: transparent;
}


/* #clock, */
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 10px;
  background-color: @surface0;
  color: @text;
  transition-property: color, background-color;
  transition-duration: 0.5s;
}

/* window#waybar.termite { */
/*     background-color: #3F3F3F; */
/* } */

/* window#waybar.chromium { */
/*     background-color: #000000; */
/*     border: none; */
/* } */

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}
button:hover {
  background-color: alpha(@surface2, 0.4);
}
tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  color: @text;
  box-shadow: inset 0 -2px @text;
  transition-property: box-shadow;
}

#workspaces button.urgent {
  color: @red;
  box-shadow: inset 0 -2px @red;
}

#workspaces button:hover {
  box-shadow: inset 0 -5px;
}

#workspaces button.active {
  background-color: @surface2;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  padding: 0 5px;
}

#battery {
  background-color: @text;
  color: #000000;
}

#battery.charging, #battery.plugged {
  color: #000000;
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: @text;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @text;
  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: @green;
  color: #000000;
}

#memory {
  background-color: @mauve;
}

#disk {
  background-color: @rosewater;
}

#backlight {
  background-color: @surface0;
}

#network {
  background-color: @surface0;
}

#network.disconnected {
  background-color: @red;
}

#wireplumber {
  color: @text;
}

#wireplumber.muted {
  color: @red;
}

#temperature {
  background-color: @yellow;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  background-color: @surface0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: @surface2;
  color: #000000
}

