/* Center the bookmark bar */
.bookmark-bar .observer {
	justify-content: center;
}

/* Screw the button, just press Alt lol */
button.vivaldi {
	display: none !important;
}

#tabs-container.top {
	padding-left: 0 !important;
}

/* highlight stuff */
/* .tab-position .tab { */
/*   border: 1px solid transparent; */
/* } */
/* .tab-position .tab:not(.active):hover { */
/*   border: 2px solid #66aa22; */
/* } */
