anchor-kr==0.1.3
animdl==1.7.2
anitopy==2.1.1
anyio==3.6.2
certifi==2022.12.7
chardet==5.0.0
click==8.0.4
codespell==2.2.1
colorama==0.4.5
comtypes==1.1.14
cssselect==1.1.0
decorator==5.1.1
future==0.18.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
markdown-it-py==2.1.0
mdurl==0.1.2
multidict==6.0.4
packaging==22.0
pkginfo==1.9.6
proselint==0.13.0
psutil==5.9.3
pycryptodomex==3.14.1
Pygments==2.14.0
pyte==0.8.1
PyYAML==6.0
regex==2022.10.31
rfc3986==1.5.0
rich==13.3.1
six==1.16.0
sniffio==1.3.0
thefuck==3.32
tqdm==4.62.3
wcwidth==0.2.5
win-unicode-console==0.5
yarl==1.8.2
