@define-color accent_color #a6da95;
@define-color accent_bg_color #a6da95;
@define-color accent_fg_color #24273a;
@define-color destructive_color #ed8796;
@define-color destructive_bg_color #ed8796;
@define-color destructive_fg_color #24273a;
@define-color success_color #a6da95;
@define-color success_bg_color #a6da95;
@define-color success_fg_color #24273a;
@define-color warning_color #c6a0f6;
@define-color warning_bg_color #c6a0f6;
@define-color warning_fg_color #24273a;
@define-color error_color #ed8796;
@define-color error_bg_color #ed8796;
@define-color error_fg_color #24273a;
@define-color window_bg_color #24273a;
@define-color window_fg_color #cad3f5;
@define-color view_bg_color #24273a;
@define-color view_fg_color #cad3f5;
@define-color headerbar_bg_color #1e2030;
@define-color headerbar_fg_color #cad3f5;
@define-color headerbar_border_color rgba(36, 39, 58, 0.70);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(24, 25, 38, 0.70);
@define-color headerbar_darker_shade_color rgba(24, 25, 38, 0.70);
@define-color sidebar_bg_color #1e2030;
@define-color sidebar_fg_color #cad3f5;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(24, 25, 38, 0.70);
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_shade_color @sidebar_shade_color;
@define-color card_bg_color #1e2030;
@define-color card_fg_color #cad3f5;
@define-color card_shade_color rgba(24, 25, 38, 0.70);
@define-color dialog_bg_color #1e2030;
@define-color dialog_fg_color #cad3f5;
@define-color popover_bg_color #1e2030;
@define-color popover_fg_color #cad3f5;
@define-color popover_shade_color rgba(24, 25, 38, 0.70);
@define-color shade_color rgba(24, 25, 38, 0.70);
@define-color scrollbar_outline_color #363a4f;
@define-color blue_1 #8aadf4;
@define-color blue_2 #8aadf4;
@define-color blue_3 #8aadf4;
@define-color blue_4 #8aadf4;
@define-color blue_5 #8aadf4;
@define-color green_1 #a6da95;
@define-color green_2 #a6da95;
@define-color green_3 #a6da95;
@define-color green_4 #a6da95;
@define-color green_5 #a6da95;
@define-color yellow_1 #eed49f;
@define-color yellow_2 #eed49f;
@define-color yellow_3 #eed49f;
@define-color yellow_4 #eed49f;
@define-color yellow_5 #eed49f;
@define-color orange_1 #f5a97f;
@define-color orange_2 #f5a97f;
@define-color orange_3 #f5a97f;
@define-color orange_4 #f5a97f;
@define-color orange_5 #f5a97f;
@define-color red_1 #ed8796;
@define-color red_2 #ed8796;
@define-color red_3 #ed8796;
@define-color red_4 #ed8796;
@define-color red_5 #ed8796;
@define-color purple_1 #c6a0f6;
@define-color purple_2 #c6a0f6;
@define-color purple_3 #c6a0f6;
@define-color purple_4 #c6a0f6;
@define-color purple_5 #c6a0f6;
@define-color brown_1 #f0c6c6;
@define-color brown_2 #f0c6c6;
@define-color brown_3 #f0c6c6;
@define-color brown_4 #f0c6c6;
@define-color brown_5 #f0c6c6;
@define-color light_1 #1e2030;
@define-color light_2 #1e2030;
@define-color light_3 #1e2030;
@define-color light_4 #1e2030;
@define-color light_5 #1e2030;
@define-color dark_1 #1e2030;
@define-color dark_2 #1e2030;
@define-color dark_3 #1e2030;
@define-color dark_4 #1e2030;
@define-color dark_5 #1e2030;

@define-color theme_fg_color #cad3f5;
@define-color theme_text_color #cad3f5;
@define-color theme_bg_color #24273a;
@define-color theme_base_color #24273a;
